@font-face {
    font-family: 'GveretLevinAlefAlefAlef';
    font-style: normal;
    font-weight: normal;
    src: local('GveretLevinAlefAlefAlef'), url(./fonts/GveretLevinAlef/GveretLevinAlefAlefAlef-Regular.woff) format('woff');
}

@font-face {
    font-family: 'GveretLevinAlefAlefAlef';
    font-style: normal;
    font-weight: normal;
    src: local('GveretLevinAlefAlefAlef'), url(./fonts/GveretLevinAlef/GveretLevinAlefAlefAlef-Regular.eot) format('eot');
}

@font-face {
    font-family: 'GveretLevinAlefAlefAlef';
    font-style: normal;
    font-weight: normal;
    src: local('GveretLevinAlefAlefAlef'), url(./fonts/GveretLevinAlef/GveretLevinAlefAlefAlef-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'GveretLevinAlefAlefAlef';
    font-style: normal;
    font-weight: normal;
    src: local('GveretLevinAlefAlefAlef'), url(./fonts/GveretLevinAlef/GveretLevinAlefAlefAlef-Regular.woff2) format('woff2');
}

/*NotoSansHebrew*/

/* @font-face {
    font-family: 'NotoSansHebrew';
    src: url('./fonts/NotoSansHebrew/NotoSansHebrew-Light.eot');
    src: local('Noto Sans Hebrew Light'), local('NotoSansHebrew-Light'),
        url('./fonts/NotoSansHebrew/NotoSansHebrew-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/NotoSansHebrew/NotoSansHebrew-Light.woff2') format('woff2'),
        url('./fonts/NotoSansHebrew/NotoSansHebrew-Light.woff') format('woff'),
        url('./fonts/NotoSansHebrew/NotoSansHebrew-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto SansHebrew Extra Bold';
    font-style: normal;
    font-weight: 800;
    src: local('NotoSansHebrewExtraBold'), url(./fonts/NotoSansHebrew/NotoSansHebrew-ExtraBold.ttf) format('ttf');
} */

